@import "tailwindcss";

@theme {
  --color-midnight-top: #121214;
  --color-midnight-bottom: #0A0A0C;
  --color-spotify-green: #1DB954;
}

@keyframes scan {
  0% { top: 0%; }
  100% { top: 100%; }
}
.animate-scan { animation: scan 3s linear infinite; }